@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.attribution {
  margin-top: 7rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(335, 100%, 65%);
}

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  background-image: url(./images/bg-mobile.svg);
  background-size: cover;
  font-family: "Raleway", sans-serif;
  color: white;
}

#container {
  margin: 7rem;
}

#logo {
  margin-bottom: 2rem;
}

.box {
  background: hsl(228, 56%, 26%);
  padding: 3.5rem;
  border-radius: 10px;
}

#box1 {
  border-top-right-radius: 100px;
  margin-bottom: 2rem;
}
.icon {
  background-color: hsl(229, 57%, 11%);
  height: 20px;
  width: 20px;
  padding: 1.5rem;
  border-radius: 10px;
  margin-right: 1rem;
}
#storage-text {
  text-align: center;
  color: hsl(243, 100%, 93%);
}
.storage-numbers {
  font-weight: 700;
}
#progress {
  width: 100%;
  background-color: hsl(229, 57%, 11%);
  padding: 0.3rem;
  border-radius: 10px;
  margin: 2rem auto;
}
#progress-bar {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  width: 85%;
  border-radius: 5px;
  padding: 0.1rem;
}
#indicator {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
}
#counter {
  display: flex;
  justify-content: space-between;
  color: hsl(243, 100%, 93%);
  margin-bottom: 1rem;
}
#remainder {
  background-color: white;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem;
  text-align: center;
  margin-bottom: -7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#size-num {
  color: hsl(229, 57%, 11%);
  font-weight: 700;
  font-size: 3rem;
  width: 50%;
}
#size-tag {
  width: 50%;
  font-size: 1rem;
  color: hsl(229, 7%, 55%);
  margin-left: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  #container {
    margin-left: auto;
    max-width: 900px;
    margin-right: auto;
  }
  body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(229, 57%, 11%);
    background-size: cover;
    background-position: 0 40rem;
    background-repeat: no-repeat;
  }

  #box2 {
    position: relative;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    align-items: center;
    margin-top: 30rem;
  }

  #remainder {
    clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 100% 100%, 85% 77%, 0% 75%);
    position: absolute;
    top: -3rem;
    right: 3rem;
    border-bottom-right-radius: 0;
    padding-bottom: 3rem;
  }
}
